<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>InicioSesion</servlet-name>
        <servlet-class>servlet.InicioSesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <servlet-class>servlet.RegistrarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCitaServicio</servlet-name>
        <servlet-class>servlet.RegistrarCitaServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudCliente</servlet-name>
        <servlet-class>servlet.CrudCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudCita</servlet-name>
        <servlet-class>servlet.CrudCita</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarUsAdmin</servlet-name>
        <servlet-class>servlet.RegistrarUsAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarCitaServicio</servlet-name>
        <servlet-class>servlet.RegistrarCitaServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>servlet.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarCitaServicio</servlet-name>
        <url-pattern>/registrar-cita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InicioSesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsuarios</servlet-name>
        <url-pattern>/registrarusuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudCliente</servlet-name>
        <url-pattern>/CrudCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudCita</servlet-name>
        <url-pattern>/CrudCita</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarUsAdmin</servlet-name>
        <url-pattern>/registro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
